.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: .5rem;
}

button
{
    padding: 10px;
    border-radius: .5rem;
    background-color:rgba(0, 123, 255, 0.995);
}